.mainFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 184px;
    background: #E5E5E5;
}
.subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
width: 579px;
height: 64px;
margin-top: 26px;
background: #FFFFFF;
border: 1px solid #F1F1F1;
box-sizing: border-box;
border-radius: 10px;
}
.subscribeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 56px;
    margin-right: 4px;
    background: #3A80BA;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #FFFFFF;
}
.subscribeNotice {
    display: flex;
    align-items: center;
    width: 133px;
    height: 26px;
    margin-left: 19px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    color: #B9B9B9;
}
.wrapBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    height: 39px;
    width: 82%;
}
.logo {
    display: flex;
    width: 136px;
    height: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
  }
  .rights {
    width: 264px;
    height: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #FFFFFF;
  }
  .copy {
    width: 147px;
    height: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #FFFFFF;
  }