.mainHeader {
  display: flex;
  flex-direction: column;
  height: 655px;
  background: #E5E5E5;
}
.wrapLogo {
  display: flex;
  height: 49px;
  margin-top: 10px;
 }
 .wrapBody {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.logo {
  display: flex;
  width: 136px;
  height: 49px;
  margin-left: 130px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  background: linear-gradient(92.09deg, #255D8B 2.29%, #1d6096 96.79%);
  color: #FFFFFF;

}
.mainHeaderLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  border: blanchedalmond 1px;
}
.mainHeaderRight {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  justify-content: center;
}
.wrapPhone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:267px;
  height: 549px;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  border-radius: 25px;
  opacity: 1;
  box-shadow: 0 28px 26px -6px black;
}
.phone {
  width:253px;
  height: 535px;
  border-radius: 25px;
}
.title {
  width: 586px;
  height: 118px;
  margin-left: 130px;
  margin-top: 72px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  color: #FFFFFF;
}
.text {
  width: 580px;
  height: 56px;
  margin-left: 130px;
  margin-top: 24px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  /* or 28px */
  color: #FFFFFF;
}
.viewStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 56px;
  margin-left: 130px;
  margin-top: 32px;
  background: #FFFFFF;
  border-radius: 8px;
}

.viewStatsTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #3A80BA;
}
